<head>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/includes/navbar.css">
</head>

<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #ffffff;">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <img src="/images/aarogyam-logo.png" alt="aarogyam-logo" height="30" class="d-inline-block align-text-top">
      arogyam
    </a>

    <!-- Mobile Toggle (Right Aligned) -->
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" 
      aria-label="Toggle navigation">
     <i class="fa-solid fa-bars"></i>
    </button>

    <!-- Navbar Links & Buttons -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link text-dark" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#contact">Contact</a>
        </li>
      </ul>

      <!-- Login/Signup Buttons for Desktop -->
      <div class="d-flex gap-3 navbar-right d-none d-lg-flex">
        <a class="btn-outline-custom" href="/auth/login">Login</a>
        <a class="btn-custom" href="/auth/signup">Sign Up</a>
      </div>

      <!-- Login/Signup Buttons for Mobile -->
      <div class="mobile-buttons d-lg-none">
        <a class="btn-outline-custom" href="/auth/login">Login</a>
        <a class="btn-custom" href="/auth/signup">Sign Up</a>
      </div>
    </div>
  </div>
</nav>
